@model EmployeeModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form asp-controller="Home" asp-action="Create" method="post" class="d-grid">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmpName" class="control-label"></label>
                    <input asp-for="EmpName" class="form-control" />
                    <span asp-validation-for="EmpName" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
                @*<div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                        <option value="">please select gender</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="EmpSalary" class="control-label"></label>
                    <input asp-for="EmpSalary" class="form-control" />
                    <span asp-validation-for="EmpSalary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmpAge" class="control-label"></label>
                    <input asp-for="EmpAge" class="form-control" />
                    <span asp-validation-for="EmpAge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>