<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout Page</title>
</head>
<body>
    <header style="background-color:yellow">
        <h1>Header part from LayoutPage</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <header style="background-color:cornflowerblue">
        <h1>Footer part from LayoutPage</h1>
    </header>
</body>
</html>
