@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    /*
        Note- this comment because we are passing layout in _ViewStart.cshtml
              because we don't write again and againt layout in every view for that we add _ViewStart.cshtml
    */
}

<h1>About Page</h1>